<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polymitasoft.caracola">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CaracolaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.booking.ReservaPrincipal"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.booking.CurrentBookingsActivity" />
        <activity android:name=".view.booking.BookingEditActivity" />
        <activity android:name=".view.service.InternalServiceListActivity" />
        <activity android:name=".view.service.InternalServiceEditActivity" />
        <activity android:name=".view.supplier.ExternalServiceListActivity" />
        <activity android:name=".view.supplier.ExternalServiceEditActivity" />
        <activity android:name=".view.supplier.SupplierListActivity" />
        <activity android:name=".view.client.ConsumptionEditActivity" />
        <activity android:name=".view.bedroom.BedroomListActivity" />
        <activity android:name=".view.bedroom.BedroomEditActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.booking.ReservaPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polymitasoft.caracola.view.booking.ReservaPrincipal" />
        </activity>
    </application>

</manifest>